.section-one {
    background-color: #F2F2F2;
    
}
.section-one>div{
    margin: auto;
    padding: 12px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    align-items: center;
    width: 80%;
}
.section-one>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 12px;
}
.section-one>div>div>div{
    width:35px;
    margin-right: 12px;
}
.section-one img{
    width: 100%;
}

.heading-tag{
    text-align: center;
    margin: 15px 0;
}
.heading-tag p{
    margin: auto;
    padding: 8px;
    background-color:#2E3337;
    color: white;
    width: 80%;
    font-size: 21px;
    line-height: 1.2;
    font-weight: 700;
    cursor: pointer;
}
.heading-tag p:hover{
    background-color: white;
    color: #2E3337;
}
.section-two p{
    text-align: center;
    font-size: 28px;
    line-height: 1.2;
    color: #2e3337;
    font-weight: 400;
    margin: 40px 0;
}
.section-two>div{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 80%;
    margin: 50px auto;
}
.section-two img{
    width: 100%;
    cursor: pointer;
    transition: all .5s;
}
.section-two img:hover{
    scale: 1.1;
}
.section-three{
    margin: 6% 0;
}
.section-three>p:nth-child(1){
    text-align: center;
    font-size: 28px;
    line-height: 1.2;
    color: #2e3337;
    font-weight: 400;
    margin-bottom: 12px;
}
.section-three>p:nth-child(2){
    font-size: 14px;
    line-height: 1.4;
    color: #848c92;
    font-weight: 300;
    text-transform: none;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 15px;
}
.section-three>div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0;
    width: 95%;
    margin: auto;
} 
 .section-three>div>div:nth-child(1){
    width: 100%;
}
.section-three>div>div:nth-child(1) img{
    width: 100%;
}
.section-three>div>div:nth-child(2){
    display:grid;
    grid-template-columns: repeat(2,1fr);
    padding:0 30px;
    justify-content: center;
    align-items: center;
}

.list-items{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    gap: 20px;
    padding: 12px;
}
.list-items>div{
    padding: 12px;
}
.list-items img{
    width: 100%;
}  
.list-items button{
    font-size: 14px;
    line-height: 1.4;
    font-weight: 300;
    line-height: 18px;
    background-color: #333;
    border-style: none;
    padding: 12px;
    color: #fff;
    cursor: pointer;
    transition: all .5s;
    width: 100%;
    border-radius: 10px;
}
.list-items button:hover{
    background-color: rgba(0, 179, 255, 0.548);
    color:black ;
    border-radius: 20px;
}
.list-items p{
    font-size: 16px;
    line-height: 1.2;
    color: #2e3337;
    font-weight: 400;
    text-align: left;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    word-break: break-word;
}
.list-items p:nth-child(3){
    font-family: "Lato-Regular",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #2e3337;
    font-weight: 600;
}

.section-four>p{
    text-align: center;
    font-size: 28px;
    line-height: 1.2;
    color: #2e3337;
    font-weight: 400;
}
.section-four>div{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding:0 40px; 
}

.banner-seaction{
    margin: 8% auto;
}
.banner-seaction>div{
    width: 95%;
    margin: auto;
}
.banner-seaction img{
    width: 100%;
}

.section-five{
    text-align: center;
    
}
.section-five>p{
    font-size: 28px;
    line-height: 1.2;
    color: #2e3337;
    font-weight: 400;
}
.section-five>div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 95%;
    gap: 12px;
    margin: auto;
}
.section-five>div>div>div{
    width: 80%;
    margin: auto
}
.section-five>div p{
    font-size: 22px;
    line-height: 1.4;
    color: #2e3337;
    font-weight: 300;
    margin-top: 8px;
}
.section-five>div p:nth-child(3){
    font-size: 14px;
    line-height: 1.4;
    color: #81868a;
    font-weight: 300;
    margin-top: 8px;

}
.section-five img{
    width: 100%;
}
.section-five button{
    margin-top: 15px;
    padding: 15px;
    background-color: #bbadad;
    border: 1px solid rgba(0,0,0,0.4);
    color: #626669;
    cursor: pointer;
    border-radius: 10pc;
}
.section-five button:hover{
    background-color: rgb(139, 169, 187);
    border-radius: 8pc;
}

.section-six{
    text-align: center;
    margin: 6% 0;
}
.section-six>p{
    font-size: 32px;
    color: #2e3337;
    line-height: 1.2;
    margin-bottom: 16px;
}
.section-six>div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 95%;
    margin: auto;
    gap: 18px;
}
.section-six>div>div{
    padding: 12px;
}
.section-six>div>div p:nth-child(2){
    font-size: 15px;
    margin-bottom: 12px;
    font-weight: 600;
}
.section-six>div>div p:nth-child(3){
    padding: 8px;
    border: 1px solid red;
    margin-bottom: 12px;
    color: #5c6063;
}
.section-six>div>div span{
    font-weight: 600;
    color: rgb(173, 5, 5);
}
.section-six>div>div>div{
    margin-bottom: 12px;
}
.section-six img{
    width: 100%;
}
.section-six button{
    width: 100%;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 300;
    line-height: 18px;
    background-color: #333;
    border-style: none;
    padding: 12px;
    color: #fff;
    cursor: pointer;
    transition: all .5s;
    margin-top: 12px;
    border-radius: 10pc;
}
.section-six button:hover{
    background-color: rgb(244, 247, 248);
    color:rgb(143, 10, 10) ;
    border-radius: 6pc;
}
